@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

.admin-card {
    transition: all 0.3s ease-in-out;
}

.admin-card:hover {
    transform: translate3D(0,-1px,0) scale(1.03);
    cursor: pointer;
}

.admin-landing-main {
    background-color: #FEEDDC;
}